.thumbnail{
	background-color: rgba(235, 235, 235, 0.93);
	border: 2px solid #2b3e50;
	display: inline-block;
	width: 100%;
}
.text{
	margin-bottom: 20px;
	display: inline-block;
}
h3{
	color: #2b3e50;
}
.task{
	position: absolute;
	color:#2b3e50;
	right: 36px;
	border: 1px solid #2b3e50;
	padding: 10px;
	border-radius: 10px;
	top: 21px;
}

.task-active{
	background-color: white;
}

.task-closed{
	background-color: #4e5d6c;
}

.textarea{
	padding-bottom: 10px;
}
body{
	background: url("/image/background.jpg");
}